.version.features /* version checker */
{
	color: #0000E8;
	background-color: #CC8C2D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 130px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 370px;
	margin-left: auto;
	margin-right: auto;
}

#u93
{
	z-index: 2;
	width: 198px;
	margin-right: -10000px;
	margin-top: 9px;
	left: -2px;
}

#menuu98
{
	z-index: 4;
	width: 694px;
	top: 54px;
	left: 211px;
}

#u99
{
	width: 172px;
	min-height: 69px;
	margin-right: -10000px;
}

#u100
{
	width: 172px;
	padding-bottom: 39px;
}

#u100:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u102-4
{
	width: 158px;
	min-height: 30px;
	margin-right: -10000px;
	top: 19px;
}

#u100:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u100.MuseMenuActive #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u101
{
	z-index: 11;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 27px;
	left: 158px;
}

#u100:hover #u101
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u100.MuseMenuActive #u101
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u104
{
	width: 274px;
	top: 69px;
}

#u105
{
	width: 274px;
}

#u105:hover
{
	width: 274px;
	min-height: 0px;
	margin: 0px;
}

#u193
{
	width: 272px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u193:hover
{
	width: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u195-4
{
	width: 264px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 2px;
}

#u193:hover #u195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u219
{
	width: 272px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u193.MuseMenuActive,#u219:hover
{
	width: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u222-4
{
	width: 264px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u193.MuseMenuActive #u195-4,#u219:hover #u222-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u212
{
	width: 272px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u219.MuseMenuActive,#u212:hover
{
	width: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u214-4
{
	width: 264px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u219.MuseMenuActive #u222-4,#u212:hover #u214-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u192,#u218,#u211,#u204
{
	width: 274px;
}

#u207
{
	width: 272px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u212.MuseMenuActive,#u207:hover
{
	width: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u207.MuseMenuActive
{
	width: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u209-4
{
	width: 264px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u212.MuseMenuActive #u214-4,#u207:hover #u209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u207.MuseMenuActive #u209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u178
{
	width: 172px;
	min-height: 69px;
	margin-right: -10000px;
	left: 174px;
}

#u179
{
	width: 172px;
	padding-bottom: 39px;
}

#u100.MuseMenuActive,#u179:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u181-4
{
	width: 172px;
	min-height: 30px;
	margin-right: -10000px;
	top: 19px;
}

#u179:hover #u181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 172px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 172px;
	min-height: 69px;
	margin-right: -10000px;
	left: 348px;
}

#u117
{
	width: 172px;
	padding-bottom: 39px;
}

#u179.MuseMenuActive,#u117:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u118-4
{
	width: 172px;
	min-height: 30px;
	margin-right: -10000px;
	top: 19px;
}

#u179.MuseMenuActive #u181-4,#u117:hover #u118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 172px;
	margin: 0px -10000px 0px 0px;
}

#u121
{
	width: 172px;
	min-height: 69px;
	margin-right: -10000px;
	left: 522px;
}

#u124
{
	width: 172px;
	padding-bottom: 39px;
}

#u117.MuseMenuActive,#u124:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u124.MuseMenuActive
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 172px;
	min-height: 30px;
	margin-right: -10000px;
	top: 19px;
}

#u117.MuseMenuActive #u118-4,#u124:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 172px;
	margin: 0px -10000px 0px 0px;
}

#u124.MuseMenuActive #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 172px;
	margin: 0px -10000px 0px 0px;
}

#u226-4
{
	z-index: 56;
	width: 166px;
	min-height: 18px;
	margin-right: -10000px;
	left: 914px;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

